@model IEnumerable<SalonViewModel>

@{
    ViewData["Title"] = "All";
}

<h2>All Salon</h2>







<form asp-action="SearchByProduct" method="get">
    <div class="form-actions ">
        <p>
            Find by Product: <input type="text" name="product"  />
            <input type="submit" value="Search" class="btn btn-default" /> 
            
        </p>
    </div>
</form>
<br />
<a asp-controller="Salon" asp-action="Create" class="btn btn-primary" role="button"> Create Salon</a>
<br />
<table class="table table-condensed">
    <thead>
        <tr>
            <th>City</th>
            <th>Coutry</th>
            <th>Salon Name</th>
            @if (this.User.IsInRole("Salon") || this.User.IsInRole("Admin"))
            {
                <th>Admin</th>
            }
            
    </tr>
    </thead>

    <tbody>
        @foreach (var item in @Model)
        {
        <tr>
            <th> @item.City</th>
            <th>@item.Country</th>
            
            <th><a asp-controller="Salon" asp-action="Details" asp-route-id="@item.Id"> @item.Name</a></th>

            @if (this.User.IsInRole("Salon") || this.User.IsInRole("Admin"))
            {
                <th><a asp-controller="Salon" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary" role="button"> Edit</a></th>
                <th><a asp-controller="Salon" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger" role="button"> Delete</a></th>
            }
          
        </tr>
        }
    </tbody>

</table>